<div class="container">
  <!--==============    Container    ===================-->

  <div class="row">
    <div class="col">
      <tabset [justified]="true">
        <tab heading='{{"buses" | translate}}'>
          <bus-component></bus-component>
        </tab>
        <tab heading='{{"weatherToday" | translate}}'>
          <clima-component></clima-component>
        </tab>
      </tabset>
    </div>
    <!-- /col -->
    <div class="col-1">
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          Lenguaje <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" (click)="changeLang('es')">{{ "spanish" | translate }}</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="changeLang('en')">{{ "english" | translate }}</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Frances</a></li>
        </ul>
      </div>
    </div>


  </div>


</div>
<!--==============    /Container    ===================-->