<div class="row">
    <h1 class="col text-center">{{"weather" | translate}}</h1>
    <div class="col-12" *ngIf="datosClima">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>{{"hour" | translate}}</th>
                    <th>{{"minTemp" | translate}}</th>
                    <th>{{"maxTemp" | translate}}</th>
                    <th>{{"humidity" | translate}}</th>
                    <th>{{"weather" | translate}}</th>
                    <th>{{"wind" | translate}}</th>
                </tr>
            </thead>
            <tbody *ngIf="datosClima.list">
                <tr *ngFor="let element of datosClima.list">
                    <th scope="row">{{element.dt_txt}}</th>
                    <td>{{element.main.temp_min | kelvin2celsius}}°C</td>
                    <td>{{element.main.temp_max | kelvin2celsius}}°C</td>
                    <td>{{element.main.humidity}}%</td>
                    <td>{{element.weather[0].main}}</td>
                    <td>{{element.wind.speed}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>