<div *ngIf="parada">
    <div class="row">
        <h2 class="col text-center">{{parada.title}}</h2>
    </div>
    
    <div class="row">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>{{"line" | translate}}</th>
                    <th>{{"destination" | translate}}</th>
                    <th>{{"first" | translate}}</th>
                    <th>{{"second" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let linea of parada.destinos">
                    <th scope="row">{{linea.linea}}</th>
                    <td>{{linea.destino}}</td>
                    <td>{{linea.primero}}</td>
                    <td>{{linea.segundo}}</td>
                </tr>
                <!-- <linea-component *ngFor="let linea of parada.destinos" [linea]="linea"></linea-component> -->
            </tbody>
        </table>
    </div>

</div>